body {
    background-color: black;
    color: white;
}

.navbar{
    height: 8vh;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divmenu{
    background-color: #121212;
    height: 84.6vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    margin-bottom: 0vh;
    border-radius: 0.4rem;
    padding: 0.5rem;
}

.divsubmenu{
    background-color: #212121;
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
}

.divlista{
    background: rgb(42,42,42);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(22,22,22,1) 30%, rgba(18,18,18,1) 100%);
    height: 74vh;
    width: 75vw;
    margin: 1vh;
    margin-left: 0.5vh;
    margin-bottom: 0vh;
    border-radius: 0.4rem;
    padding: 2.5rem;
}

.divprincipal{
    display: flex;
    flex-direction: row;
}

.titlemenu{
    margin: 2rem;
    margin-top: 3rem;
}

table {
    border-collapse: collapse;
  }

.divartist:hover{
    background-color: #424242;
}

/* Btn deletar */ 
.btndeletar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIconDeletar {
    width: 12px;
    transition-duration: .3s;
  }
  
  .svgIconDeletar path {
    fill: white;
  }
  
  .btndeletar:hover {
    width: 70px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .btndeletar:hover .svgIconDeletar {
    width: 30px;
    transition-duration: .3s;
    transform: translateY(60%);
  }
  
  .btndeletar::before {
    position: absolute;
    top: -30px;
    content: "Deletar";
    color: white;
    transition-duration: .3s;
    font-size: 1px;
  }
  
  .btndeletar:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }

  /* Btn editar */ 
.btneditar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIconEditar {
    width: 17px;
    transition-duration: .3s;
  }
  
  .svgIconEditar path {
    fill: white;
  }
  
  .btneditar:hover {
    width: 70px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(34, 56, 247);
    align-items: center;
  }
  
  .btneditar:hover .svgIconEditar {
    width: 40px;
    transition-duration: .3s;
    transform: translateY(45%);
  }
  
  .btneditar::before {
    position: absolute;
    top: -30px;
    content: "Editar";
    color: white;
    transition-duration: .3s;
    font-size: 1px;
  }
  
  .btneditar:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }

/* Search Input*/
#form {
    --input-text-color: #fff;
    --input-bg-color: #1f1f1f;
    --text-color: #707070;
    --active-color: #ffffff;
    --width-of-input: 35vw;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
  }
  
  #form {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    height: 8vh;
    position: relative;
    isolation: isolate;
  }

  .fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
  }
  
  .search,.close-btn {
    position: absolute;
  }
  
  .search {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
  }
  
  svg {
    cursor: pointer;
    width: 17px;
    display: block;
  }
  
  .close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
  }
  
  .input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
  }
  
  .input:focus {
    outline: none;
  }
  
  .input::placeholder {
    color: var(--text-color)
  }
  
  .input:focus ~ .fancy-bg {
    border: 1px solid var(--active-color);
  }
  
  .input:focus ~ .search {
    fill: var(--active-color);
  }
  
  .input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }
  
.btn {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 1.2rem;
  }
  
  .btn span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  .btn span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  
  .btn span:not(hover) {
    transition: all 1s;
  }
  
.btnadd {
    --main-focus: #2d8cf0;
    --font-color: #424242;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #424242;
    position: relative;
    width:7vw;
    height: 5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    margin-left: 0;
  }
  
  .btnadd, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .btnadd .button__text {
    transform: translateX(22px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .btnadd .button__icon {
    position: absolute;
    transform: translateX(4vw);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btnadd .svgadd {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button:hover {
    background: var(--bg-color);
  }
  
  .btnadd:hover .button__text {
    color: transparent;
  }
  
  .btnadd:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .btnadd:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }

.icon{
    margin-left: -30vw;
    margin-right: 30vw;
}

#icon{
    font-size: x-large;
}

table {
    border-radius: 20px;
    width: 100%; /* Faz a tabela ocupar toda a largura */
    border-collapse: collapse; /* Remove espaços entre bordas */
    margin: 20px 0; /* Espaço acima e abaixo da tabela */
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  /* Estilo das células */
  td, th {
    padding: 12px 15px; /* Espaçamento interno (padding) */
    text-align: left; /* Alinha o texto à esquerda */
  }

  /* Estilo do cabeçalho */
  th {
   
    background-color: #202020; /* Fundo do cabeçalho */
    font-weight: bold;
    text-transform: uppercase; /* Texto em letras maiúsculas */
  }

  th:hover {
    color: #f1f1f1; /* Fundo das linhas no hover */
  }

  /* Hover nas linhas */
  tr:hover {
    background-color: #f1f1f1;
    color: #202020; /* Fundo das linhas no hover */
  }

  /* Centralização de alguns conteúdos */
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }